<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GD1C2018ConnectionString"
      connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD1C2018;User ID=gdHotel2018;Password=gd2018;Trusted_Connection=False;"
         />
  </connectionStrings>
  <appSettings file="">
    <clear />
    <add key="stringConexion" value="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD1C2018;User ID=gdHotel2018;Password=gd2018;Trusted_Connection=False;" />

  </appSettings>
</configuration>