<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rubberduck.Winforms.Properties.Settings.GD1C2018ConnectionString"
            connectionString="Data Source=desktop-ue61bha\sqlexpress;Initial Catalog=GD1C2018;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>