<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GD1C2018ConnectionString"
      connectionString="Data Source=desktop-ue61bha\sqlexpress;Initial Catalog=GD1C2018;Integrated Security=True"
         />
  </connectionStrings>
  <appSettings file="">
    <clear />
    <add key="stringConexion" value="Data Source=desktop-ue61bha\sqlexpress;Initial Catalog=GD1C2018;Integrated Security=True" />
    <add key="DateKey" value="20-01-2022"/>
  </appSettings>
  
</configuration>